* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	user-select: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ebf5fc;
}
div {
	background: #ebf5fc;
	box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}
div h1 {
	padding-top: 15px;
}
ul {
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 20px;
	width: 400px;
}
ul li {
	position: relative;
	list-style: none;
	text-align: center;
	margin: 15px;
}
ul li label {
	position: relative;
	cursor: pointer;
}
ul li label input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}
ul li label :checked ~ .icon-box {
	box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
ul li label :checked ~ .icon-box .fa {
	transform: scale(0.95);
}
ul li label :disabled ~ .icon-box {
	box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
	background-color: #6c757d;
	border-color: #6c757c;
}
ul li label :disabled ~ .icon-box .fa {
	transform: scale(0.95);
	color: white;
}
ul li label .icon-box {
	height: 60px;
	background: #ebf5fc;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
ul li label .icon-box .fa {
	font-size: 30px;
	color: #6a9bd8;
}
